<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="FontAwesome.Sharp" version="5.15.4" targetFramework="net472" />
  <package id="Guna.UI2.WinForms" version="2.0.3.2" targetFramework="net472" />
  <package id="Humanizer.Core" version="2.2.0" targetFramework="net472" />
  <package id="Knockout.Combobox" version="1.0.80.0" targetFramework="net472" />
  <package id="knockoutjs" version="3.0.0" targetFramework="net472" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="3.3.3" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.Common" version="4.2.0" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.Workspaces.Common" version="4.2.0" targetFramework="net472" />
  <package id="Siticone.Desktop.UI" version="2.0.9" targetFramework="net472" />
  <package id="Syncfusion.Core.WinForms" version="20.1.0.58" targetFramework="net472" />
  <package id="Syncfusion.DataSource.WinForms" version="20.1.0.58" targetFramework="net472" />
  <package id="Syncfusion.GridCommon.WinForms" version="20.1.0.58" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="20.1.0.58" targetFramework="net472" />
  <package id="Syncfusion.SfListView.WinForms" version="20.1.0.58" targetFramework="net472" />
  <package id="Syncfusion.Shared.Base" version="20.1.0.58" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections" version="4.3.0" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="5.0.0" targetFramework="net472" />
  <package id="System.Composition" version="6.0.0" targetFramework="net472" />
  <package id="System.Composition.AttributedModel" version="6.0.0" targetFramework="net472" />
  <package id="System.Composition.Convention" version="6.0.0" targetFramework="net472" />
  <package id="System.Composition.Hosting" version="6.0.0" targetFramework="net472" />
  <package id="System.Composition.Runtime" version="6.0.0" targetFramework="net472" />
  <package id="System.Composition.TypedParts" version="6.0.0" targetFramework="net472" />
  <package id="System.IO.Pipelines" version="6.0.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reflection.Metadata" version="5.0.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="6.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
</packages>